* {
    box-sizing: border-box;
}
body {
    background: #fefefe;
    font-size: 0.9rem;
}

/* forms */

input, button {
    padding: 0.2em 0.4em;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}
input:focus, button:focus {
    border: 1px solid #99f;
}

/* table */
table {
    border: 1px solid #cbcbcb;
}
td, th {
    white-space: nowrap;
    padding: 0.3em 0.7em;
    border-right: 1px solid #cbcbcb;
}
th {
    background: #ddd;
    border-bottom: 1px solid #cbcbcb;
    font-size: 0.9em;
}


#container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
}
section {
    display: block;
    float: left;
    width: 50%;
    padding: 1em;
}
section table {
    width: 100%;
}
section h2 {
    margin-top: 0;
    white-space: nowrap;
}
h2 form {
    display: inline;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.2em 0.2em;
}

th.name {
    min-width: 7em;
}
th.score {
    min-width: 3em;
    max-width: 5em;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}
td input {
    width: 100%;
}

table {
    margin-bottom: 0.5em;
}
#tabPlayers + button, #tabMatches + input {
    width: 100%;
}
#tabMatches td:nth-child(2) {
    text-align: right;
}
