html {
}

* {
    box-sizing: border-box;
}

section {
    display: block;
    float: left;
    width: 50%;
    padding: 1em;
}
section table {
    width: 100%;
}
section h2 {
    margin-top: 0;
    white-space: nowrap;
}
h2 form {
    display: inline;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.2em 0.2em;
}

th.name {
    min-width: 7em;
}
th.score {
    min-width: 3em;
    max-width: 5em;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}
td input {
    width: 100%;
}

#tabMatches {
    margin-bottom: 0.5em;
}
#tabMatches + input {
    width: 100%;
}
#tabMatches td:nth-child(2) {
    text-align: right;
}
